@import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Reddit Mono", monospace;
}

:root[theme="light"] {
  --background-color: #fff;
  --text-color: #0a19a2;
}

:root[theme="dark"] {
  --background-color: #020840;
  --text-color: #fff;
}

:root {
  --blue-text: #0a19a2;
  --darkblue-text: #020840;
  --orange-btns: #ffb700;
  --grey-background: #d9d8d6;
  --cherry-text: #ae4c4c;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  width: 100vw;
  height: 100vh;
}
