.theme-icon {
  cursor: pointer;
  font-size: 2.2rem;

  align-self: flex-end;
  padding: 20px 20px 0 0;
}

.h1-page-title {
  font-size: 3rem;
}

.h3-page-title {
  font-size: 1.5rem;
}

.section {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.section-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  width: 20rem;
  height: 20rem;
  background-color: var(--grey-background);

  border: none;
  border-radius: 7px;
}

.h4 {
  font-size: 1.2rem;
  color: var(--blue-text);
}

.counter-span {
  font-size: 1.5rem;
  color: var(--blue-text);
}

.subdiv-btns {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 10rem;
  height: 5rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  color: var(--blue-text);
  background-color: var(--orange-btns);
  border: none;
  border-radius: 7px;

  width: 4rem;
  height: 4rem;
}

.send-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--blue-text);

  width: 10rem;
  height: 5rem;

  background-color: var(--orange-btns);
  border: none;
  border-radius: 7px;
}

.send-btn:focus {
  color: var(--orange-btns);
  background-color: var(--blue-text);
}
